<div id="title">MineSweeper</div>
 <div id="dashboard" class="controls">
     <div id="help"></div>
     <div id="git"></div>
 </div>
  <div id="new-game" class="controls"></div>
 <div id="board"></div>
